<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>Effeckt.css</title>

    <meta name="description" content="UI-Less & Performant Transitions & Animations">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="{{assets}}/css/demo/demo.autoprefixed.css">

    <!-- Individual module CSS files here -->
    <!-- Should we combine or not combine? -->
    <link rel="stylesheet" href="{{assets}}/css/effeckt.autoprefixed.css">
    <link rel="stylesheet" href="{{assets}}/css/demo/topcoat-mobile-dark.autoprefixed.css">
</head>

<body>

  {{> off-screen-nav}}

  {{> page-transition}}

  {{> modal}}

  <div class="page-wrap no-transitions" id="page-wrap">

    {{>body}}

    {{> off-screen-nav-cover}}


  </div><!-- div.page-wrap -->


  <!-- libs -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-2.0.3.min.js"><\/script>')</script>

  <!-- demo -->
  <script src="{{assets}}/js/demo/demo.js"></script>

  <!-- Individual module JS files here -->
  <!-- Should we combine or not combine? -->
  <!-- Should we provide minified versions? -->
  <script src="{{assets}}/js/modules/modals.js"></script>
  <script src="{{assets}}/js/modules/buttons.js"></script>
  <script src="{{assets}}/js/modules/list-items.js"></script>
  <script src="{{assets}}/js/modules/off-screen-nav.js"></script>
  <script src="{{assets}}/js/modules/page-transitions.js"></script>
  <script src="{{assets}}/js/modules/list-scroll.js"></script>

  <!-- ideally should kick this off in the demo js file itself -->
  <script>
    stroll.bind('.effeckt-demo-list-scroll ul');
  </script>

</body>

</html>